- var img = '../img/';
 
doctype
html
	include blocks/head.pug
		title
	body.index-page
		include blocks/header.pug

		sidebar.sidebar
			.sidebar-inner
				include blocks/catalog-links.pug
			.sidebar-inner2

		main.main.type2
			section.mainslider
				.slider
					.slide
						img.slide__img(src=img+"mainslide.jpg", alt="")
					.slide
						img.slide__img(src=img+"mainslide.jpg", alt="")
					.slide
						img.slide__img(src=img+"mainslide.jpg", alt="")
				.bottom
					<button class="icon-down-open-mini left"></button>
					.slider-counter
						.slider-counter__curr
						span /
						.slider-counter__all
					<button class="icon-down-open-mini right"></button>

			section.popular-category
				.title <span>ПОПУЛЯРНЫЕ</span> КАТЕГОРИИ
				.inner
					a.item.small(href="category.html")
						img.item__img(src=img+"popular-category/img1.jpg", alt="")
						.item__btn.btn-orange Канцтовары
					a.item.small(href="category.html")
						img.item__img(src=img+"popular-category/img2.jpg", alt="")
						.item__btn.btn-orange Бытовая химия
					a.item.small(href="category.html")
						img.item__img(src=img+"popular-category/img3.jpg", alt="")
						.item__btn.btn-orange Бумажная продукция
					a.item.middle(href="category.html")
						img.item__img(src=img+"popular-category/img4.jpg", alt="")
						.item__btn.btn-orange Калькуляторы
					a.item.big(href="category.html")
						img.item__img(src=img+"popular-category/img5.jpg", alt="")
						.item__btn.btn-orange Презентационное оборудование


		section.free-delivery
			.container
				.row
					.left
						.title <span>БЕСПЛАТНАЯ ДОСТАВКА</span> Заказанные товары будут доставлены к вашему офису
						.text-container
							p У нашего интернет-магазина есть собственная служба доставки, которая не заставит вас долго ждать свой заказ. Доставка осуществляется в рабочие дни с 9.00 до 18.00.
							p Перед доставкой вам позвонит менеджер и согласует детали.
						ul.action
							li
								a.btn-orange.popup-link(href="#callback") Подробнее
					img.free-delivery__img(src=img+"free-delivery-img.jpg", alt="")
				.row
					img.free-delivery__img(src=img+"free-delivery-img.jpg", alt="")
					.left
						.title <span>КОМПЛЕКСНАЯ УСЛУГА</span> Материального обеспечения офиса в Донецке
						.text-container
							p Мы рады предложить вам комплексную услугу материального обеспечения офиса в Донецке и Донецкой области! Канцтовары для офиса с доставкой к вашему офису в г.Донецке, хозяйственные товары, уборочный инвентарь, чистящие и моющие средства, расходные материалы.
						ul.action
							li
								a.btn-orange.popup-link(href="#callback") Подробнее

		section.popular-products
			.container
				.slider
					a.slide(href="#")
						img.slide__img(src=img+"popular-products/img1.jpg", alt="")
						span.slide__title НАЗВАНИЕ КАТЕГОРИИ
					a.slide(href="#")
						img.slide__img(src=img+"popular-products/img2.jpg", alt="")
						span.slide__title НАЗВАНИЕ КАТЕГОРИИ В ДВЕ СТРОКИ
					a.slide(href="#")
						img.slide__img(src=img+"popular-products/img3.jpg", alt="")
						span.slide__title НАЗВАНИЕ КАТЕГОРИИ В ТРИ СТРОКИ
					a.slide(href="#")
						img.slide__img(src=img+"popular-products/img4.jpg", alt="")
						span.slide__title НАЗВАНИЕ КАТЕГОРИИ
					a.slide(href="#")
						img.slide__img(src=img+"popular-products/img5.jpg", alt="")
						span.slide__title НАЗВАНИЕ КАТЕГОРИИ
					a.slide(href="#")
						img.slide__img(src=img+"popular-products/img1.jpg", alt="")
						span.slide__title НАЗВАНИЕ КАТЕГОРИИ В ДВЕ СТРОКИ

		section.seo
			.container
				.page-title Интернет-магазин канцелярии
				.text-container
					p Качество канцтоваров не должно страдать, так как оно напрямую влияет на экономию бюджета. К примеру, хорошая чернильная ручка в школе способствует развитию каллиграфии и успешному формированию почерка. В офисе обычно используется весь канцелярский набор, включающий и мелкие аксессуары (резинки, линейки, скрепки), и крупные (ножницы, маркеры, ручки).
					p Канцелярские товары всегда пользуются спросом, поэтому и предлагают их производители в неограниченном разнообразии. Обращайте внимание на функциональность канцелярских принадлежностей, на их внешний вид, на технические характеристики (бумагу можно выбрать по плотности, а ручки по количеству пасты).
					h2 Потребность использования
					p При выборе канцелярии стоит учитывать не только ее качество и цену, а и потребность.
					h3 В зависимости от последнего фактора разделяются товары на две группы:
					p офисная категория; <br> письменные принадлежности. <br> Выбор канцелярии осуществляется в зависимости от составленного перечня необходимых предметов. Канцелярские товары для офиса или для школы покупают, опираясь на их количественный учет. Системный подход перед покупкой не будет лишним – он поможет исключить избыточные позиции и обеспечит экономию средств.
					h2 Как правильно выбирать канцелярские товары
					p Учитывая, что канцтовары используются ежедневно, они должны обладать хорошим сроком службы. Чтобы не теряться в разнообразии, выберите один-два поставщика, в которых вы будете уверены, и все будет полностью устраивать. Ассортимент и цена – основные показатели при выборе производителя канцелярии.
					h3 Чтобы не тратить лишнее время и деньги при покупке канцелярии, стоит учесть:
					p дешевле приобретать оптом; <br> список поможет выбрать нужные пишущие принадлежности; <br> учесть индивидуальные требования (ручки, которые пишут тонко; деревянные или пластиковые линейки); <br> составить необходимое количество; <br> дешевые товары желательно перенести на задний план; <br> обратить внимание на требования безопасности и качество каждого товара. <br> Много неудобств приносит канцелярия, которая штампуется без должного соблюдения производственных условий. Обратите внимание на офисные и школьные принадлежности, что есть у вас сейчас – вы довольны ими? Если да, то выбирайте и дальше проверенного производителя, если нет, то ищите другие марки.
					h2 Купить канцелярию в Донецке
					p Купить канцелярию можно с доставкой в Донецк недорого, выбрав специализированный онлайн магазин. Продажа товаров осуществляется как наборами, так и отдельными единицами. Перед покупкой выбирают подходящий ценовой диапазон и указывают количество необходимых канцелярских предметов. Товар предлагается от разных производителей, которые отвечают за должный уровень качества.
					h2 Интернет-магазин канцелярии
					p Интернет-магазин канцелярии предлагает достойный выбор товаров. Цена на каждую единицу выставляется лояльная, поэтому можно покупать оптом/ в розницу. Выгодно заказать канцтовары по несколько единиц. Продажа онлайн осуществляется круглосуточно, но уточнять индивидуальные вопросы нужно в рабочие часы с менеджерами.

		section.b-map
			.container
				.left
					.item
						.item__title Офис:
						.item__text г.Донецк ул.Куйбышева, 143г.
					.item
						.item__title Склад:
						.item__text г.Донецк ул.Куйбышева, 143а.
				.right
					#map

		include blocks/footer.pug
		include blocks/scripts.pug